.header {
	box-sizing: border-box;
    position: relative;
    height: 100px;
    background-color: #eff3f7;
    margin-bottom: 39px;
}

.cont_big {
	max-width: 1200px;
	min-width: 970px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.logo {
	position: absolute;
	left: 0;
	top: 20px;
}

.gradient {
    position: absolute;
    bottom: 0px;
    background: linear-gradient(to left, #e7eff3 0%, #1c667a 40%, #1c667a 60%, #e7eff3 100%);
    height: 3px;
    width: 100%;
}


.social {
    position: absolute;
    right: 0;
    top: 20px;
}

.item_links{
	margin-right: 24px;
	float:left;
}

.item_links:last-child{
	margin-right: 0px;
}

html {
	height: 100%;
}

body {
    background: url(../images/comppattern2.png) repeat;
    position: relative;
    font-family: Fira Sans;
    height: 100%;
}

address{
	font-style: normal;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.sidebar {
    float: left;
    width: 250px;
}

.information {
    width: 650px;
	float: right;
}

.section_about {
    background-color: #eff3f7;
    border-radius: 5px;
    margin-bottom: 26px;
}

.wrapper_content {
	height: auto!important;
	position: relative;
	min-height: 100%;
	min-width: 970px;
	overflow: hidden;
}

.wrapper_content:after {
	content: " ";
	height: 77px;
	display: block;
}

.footer {
    box-sizing: border-box;
	position: relative;
    height: 77px;
    background-color: #eff3f7;
  	margin-top: -77px;
    min-width: 970px;
    padding-top:23px;
}

.wrap_footer {
    margin: 0 auto;
    max-width: 700px;
    position: relative;
    min-width: 500px;
}

.block_bot {
    width: 700px;
    min-width: 500px;
    height: 100%;
    min-height: 32px;
    text-align: center;
    margin: 0 auto;
}

.footer .gradient {
    position: absolute;
    top: 0px;
}

.navigation {
	overflow: hidden;
    width: 100%;
    height: 219px;
    height: 43.6%;
    background-color: #eff3f7;
    border-radius: 5px;
    margin-bottom: 23px;
}

.contacts {
    width: 100%;
    height: 160px;
    background: #eff3f7;
    border-radius: 5px;
    overflow: hidden;
}


.navigation_list {
    
    list-style-type: none;
}

.navigation_list>li {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.navigation_item{
	box-sizing: border-box;
    display: block;
    font-size: 21px;
    margin: 0 11px;
    border-top: 2px solid #3ba8c0;;
}

.navigation_item:first-child {
	border-top: none;
}

.navigation_item.active{
	background-color: #3ba8c0;
	margin: 0;
	padding-left: 11px;
	margin-bottom: -3px;
}

.navigation .navigation_item.active .navigation_link {
	color: #f9fafb;
	font-size: 22px;
}

.navigation .navigation_link {
	display: block;
	color: #959aa8;
	margin-left: 16px;
	padding: 20px 0px;
}

.navigation .navigation_link:hover{
	color: #3ba8c0;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.mail,
.contact_item,
.skype,
.phone {
    height: 40px;
    box-sizing: border-box;
    color: white;
    margin: 0px;
    font-family: Fira Sans;
    line-height: 1;
}

.contact_item {
    background-color: #3ba8c0;
    border-radius: 5px 5px 0px 0px;
    font-size: 21px;
    padding: 14px 116px 10px 19px;
}


.number {
    float: left;
    padding: 14px 40px 7px 0px;
}

.number:after{
	content: ' ';
	display: block;
	background-color: white;
	height: 1px;
}

.mail {
    background-color: #41b9d4;
    font-size: 17px;
}

.phone {
    background-color: #48cbe8;
    font-size: 17px;
}

.skype {
    background-color: #51daf8;
    font-size: 17px;
}

.contact_text{
	display: block;
	padding-top: 10px
}

.contact_link {
	padding-left: 82px;
	display: block;
	height: 100%;
}

.contact_link:hover {
	border-bottom: 1px solid #fff;
	box-sizing: border-box;
}

.icon_mail {
	background: #41b9d4 url(../images/icon-mail.png) 43px center no-repeat;
}

.icon_phone {
	background: #48cbe8 url(../images/icon-phone.png) 43px center no-repeat;
}

.icon_skype {
	background: #51daf8 url(../images/icon-skype.png) 43px center no-repeat;
}

.contact_text,
.mail_sub{
	font-family: Fira Sans;
	font-style: normal;
	color: white;
}
.mail_sub{
	display: block;
	font-size: 8px;
	padding-bottom: 5px;
}

.headerInf {
    float: left;
    height: 69px;
    font-family: Fira Sans;
    font-size: 26px;
    color: #3ba8c0;
    position: relative;
    padding: 22px 26px 27px 22px;
    box-sizing: border-box;
    line-height: 1;
}

.blueLine {
    position: absolute;
    background-color: #3ba8c0;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.image_wrap{
	float:left;
	margin: 35px 23px 0px 55px;
}

.infAboutMe {
    display: inline-block;
    width: calc(100% - 229px);
    line-height: 2;
    font-size: 15px;
    margin-top: 23px;
    /*float: left;*/
}

.hIAM {
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    float: left;
    width: auto;
    margin-right: 16px;
}

.content_li {
    width: auto;
    display: inline-block;
}

.infAboutMe .button {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: auto;
    padding: 4px 14px;
    margin-right: 8px;
    margin-bottom: 9px;
    height: 19px;
    max-height: 19px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background: linear-gradient(#3ba8c0 48%, #2e8ca2 52%);
    line-height: 1;
    font-size: 14px;
    float: left;
}

.infAboutMe li {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
}

.wrapper {
    width: 100%;
    height: 69px;
}

.sprite-icon-portfolio {
    float: left;
    margin: 27px 30px 0px 58px;
}

.workList li {
    display: inline-block;
    float: left;
    /*white-space: nowrap;
	width: 100%;*/
}

.workList ul {
    margin-top: 27px;
}

.work_date {
    font-size: 15px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.cf:after{
	content: " ";
    display: table;
    clear: both;
}

.hide_text {
    display: none;
}

.icon_univ {
	padding-left: 85px;
	background: url(../images/icon-cap.png) 17px center no-repeat;
}

.icon_course{
	padding-left: 85px;
	background: url(../images/icon-doc.png) 25px center no-repeat;
}

.icon_portfolio{
	padding-left: 85px;
	background: url(../images/icon-portfolio.png) 17px center no-repeat;
}

.when, .where{
	display: block;
}

.where{
	font-size: 17px;
	font-weight: 500;
}
.when{
	font-size: 15px;
}

.about_education, .work_ul {
	padding: 20px 0px 40px 37px;
}

.item_education, 
.item_work {
	margin-bottom: 27px;
}

.item_education:last-child, 
.item_work:last-child {
	margin-bottom: 0px;
}

.image_wrap {
	height: 140px;
	width: 140px;
	border-radius: 50% 50%;
	border: 5px solid #3ba8c0;	
	overflow: hidden;
}

.avatar_box{
	width: 100%;
}

.login_window {
    margin: 0 auto;
    margin-top: 100px;
    width: 400px;
    height: 250px;
    background-color: #eff3f7;
    border: 2px solid #9ee8f8;
    border-radius: 5px;
}

.main_content_login{
    min-height: 640px;
    position: relative;
}

.header_login {
    height: 50px;
    border-bottom: 10px solid #9ee8f8;
    position: relative;
    background-color: #51daf8;
    margin-bottom: 10px;
}

.title_login {
    color: #fbfcfd;
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    text-align: center;
}

.login_item {   
    display: block;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.loginsub {
    width: 100px;
    margin-left: -50px;
    left: 50%;
    border-style: none;
    position: absolute;
    font-weight: 500;
    font-family: Fira Sans;
    font-size: 20px;
    color: white;
    padding: 5px 15px;
    border-radius: 4px;
    background: #51daf8;
    box-shadow: 0 -2px #47c0db inset;
    transition: 0.2s;
}
.loginsub:hover{
    background: #47c0db;
}

.lock {
    position: absolute;
    left: 20px;
}

.copyright {
    margin: 0 100px;
    padding-top: 7px;
    text-align: center;
}

.lock .lock_inner {
    display: block;
    height: 40px;
    line-height: 2.2;
    color: #4a545d;
    background: url(../images/icon-lock.png) no-repeat;
    padding-left: 24px;
}